<h1>Administrators#detail</h1>
<p>Find me in app/views/administrators/detail.html.erb</p>

<ul>
  <li>ID: <span><%= @administrator&.id %></span></li>
  <li>メールアドレス: <span><%= @administrator&.email %></span></li>
</ul>

